.comics {
    &__list {
        margin-top: 45px;
    }
    &__grid {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        justify-content: space-between;
        row-gap: 55px;
    }
    &__item {
        transition: 0.3s transform;
        border: 2px solid;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 6px 1px 28px 0px;
        &-img {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 345px;
            border-radius: 18px;
            border-bottom: 2px solid;
        }
        &-name {
            padding: 0 10px;
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        &-number {
            padding: 0 10px;
            margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
        }
        &-actions {
            margin: 15px 0;
            padding: 0 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.btn-svg {
    height: 30px;
    background: none;
    outline: none;
    width: 30px;
    border: none;
    cursor: pointer;
}

.btnMore {
    padding: 2px 10px;
    background: #ffb882;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}