
.app {
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            color: 'red';
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                margin: 0 8px;
                border: 2px solid black;
                padding: 2px 10px;
                border-radius: 10px;
                box-shadow: 6px 1px 28px 0px;
                box-shadow: 4px 1px 1px 0px;
            }
        }
    }

  
}