.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    &__content {
        padding: 20px;
        border-radius: 12px;
        background-color: white;
    }
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

